<plist version="1.0">
  <dict>
    <key>unitsPerEm</key>
    <integer>256</integer>
    <key>ascender</key>
    <integer>256</integer>
    <key>descender</key>
    <integer>-256</integer>
    <key>familyName</key>
    <string>TestUfo</string>
    <key>xHeight</key>
    <integer>128</integer>
    <key>capHeight</key>
    <integer>256</integer>
  </dict>
</plist>
