<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>a</key>
    <string>a_000000000000001.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>b</key>
    <string>b_000000000000001.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>c</key>
    <string>c_000000000000001.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>d</key>
    <string>d_000000000000001.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>e</key>
    <string>e_000000000000001.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>f</key>
    <string>f_000000000000001.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>g</key>
    <string>g_000000000000001.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>h</key>
    <string>h_000000000000001.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>i</key>
    <string>i_000000000000001.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>j</key>
    <string>j_000000000000001.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>k</key>
    <string>k_000000000000001.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>l</key>
    <string>l_000000000000001.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>m</key>
    <string>m_000000000000001.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>n</key>
    <string>n_000000000000001.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>o</key>
    <string>o_000000000000001.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>p</key>
    <string>p_000000000000001.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>q</key>
    <string>q_000000000000001.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>r</key>
    <string>r_000000000000001.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>s</key>
    <string>s_000000000000001.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>t</key>
    <string>t_000000000000001.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>u</key>
    <string>u_000000000000001.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>v</key>
    <string>v_000000000000001.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>w</key>
    <string>w_000000000000001.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>x</key>
    <string>x_000000000000001.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>y</key>
    <string>y_000000000000001.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>z</key>
    <string>z_000000000000001.glif</string>
  </dict>
</plist>
