<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>a</key>
   <string>a_lower.glif</string>
   <key>A</key>
   <string>a_upper.glif</string>
   <key>b</key>
   <string>b_lower.glif</string>
   <key>B</key>
   <string>b_upper.glif</string>
   <key>c</key>
   <string>c_lower.glif</string>
   <key>C</key>
   <string>c_upper.glif</string>
   <key>d</key>
   <string>d_lower.glif</string>
   <key>D</key>
   <string>d_upper.glif</string>
   <key>e</key>
   <string>e_lower.glif</string>
   <key>E</key>
   <string>e_upper.glif</string>
   <key>f</key>
   <string>f_lower.glif</string>
   <key>F</key>
   <string>f_upper.glif</string>
   <key>g</key>
   <string>g_lower.glif</string>
   <key>G</key>
   <string>g_upper.glif</string>
   <key>h</key>
   <string>h_lower.glif</string>
   <key>H</key>
   <string>h_upper.glif</string>
   <key>i</key>
   <string>i_lower.glif</string>
   <key>I</key>
   <string>i_upper.glif</string>
   <key>j</key>
   <string>j_lower.glif</string>
   <key>J</key>
   <string>j_upper.glif</string>
   <key>k</key>
   <string>k_lower.glif</string>
   <key>K</key>
   <string>k_upper.glif</string>
   <key>l</key>
   <string>l_lower.glif</string>
   <key>L</key>
   <string>l_upper.glif</string>
   <key>m</key>
   <string>m_lower.glif</string>
   <key>M</key>
   <string>m_upper.glif</string>
   <key>n</key>
   <string>n_lower.glif</string>
   <key>N</key>
   <string>n_upper.glif</string>
   <key>o</key>
   <string>o_lower.glif</string>
   <key>O</key>
   <string>o_upper.glif</string>
   <key>p</key>
   <string>p_lower.glif</string>
   <key>P</key>
   <string>p_upper.glif</string>
   <key>q</key>
   <string>q_lower.glif</string>
   <key>Q</key>
   <string>q_upper.glif</string>
   <key>r</key>
   <string>r_lower.glif</string>
   <key>R</key>
   <string>r_upper.glif</string>
   <key>s</key>
   <string>s_lower.glif</string>
   <key>S</key>
   <string>s_upper.glif</string>
   <key>t</key>
   <string>t_lower.glif</string>
   <key>T</key>
   <string>t_upper.glif</string>
   <key>u</key>
   <string>u_lower.glif</string>
   <key>U</key>
   <string>u_upper.glif</string>
   <key>v</key>
   <string>v_lower.glif</string>
   <key>V</key>
   <string>v_upper.glif</string>
   <key>w</key>
   <string>w_lower.glif</string>
   <key>W</key>
   <string>w_upper.glif</string>
   <key>x</key>
   <string>x_lower.glif</string>
   <key>X</key>
   <string>x_upper.glif</string>
   <key>y</key>
   <string>y_lower.glif</string>
   <key>Y</key>
   <string>y_upper.glif</string>
   <key>z</key>
   <string>z_lower.glif</string>
   <key>Z</key>
   <string>z_upper.glif</string>
</dict>
</plist>